## 1. Get the data online (scraping)  from Yahoo Finance with *yfinance*

In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 12.3 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=079fb14ac1e47c2ec286e09a67dbbbe03f0a7d8c1d19147fa79e414609432982
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [ ]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get stock info
print(msft.info)

# get historical market data
data = msft.history(start="2018-01-01",  end="2019-01-01")
data

{'zip': '98052-6399', 'sector': 'Technology', 'fullTimeEmployees': 181000, 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as a strategic relationship with Avaya Holdings Corp. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.', 'city': 'Redmond', 'phone': '425 882 8080', 'state': 'WA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.microsoft.com', 'maxAge': 1, 'address1': 'One Microsoft Way', 'industry': 'Software—Infrastructure', 'ebitdaMargins': 0.48080003, 'profitMargins': 0.36451998, 'grossMargins': 0.68926, 'operatingCashflow': 76740001792, 'revenueGrowth': 0.213, 'operatingMargins': 0.41595, 'ebitda': 80815996928, 'targetLowPrice': 280, 'recommendationKey': 'buy', 'grossProfits': 115856000000, 'freeCashflow': 41337249792, 'targetMedianPrice': 338, 'currentPrice': 294.11, 'earningsGrowth': 0.486, 'currentRatio': 2.08, 'returnOnAssets': 0.13761, 'numberOfAnalystOpinions': 37, 'targetMeanPrice': 336.28, 'debtToEquity': 57.947, 'returnOnEquity': 0.47079, 'targetHighPrice': 411, 'totalCash': 130256003072, 'totalDebt': 82277998592, 'totalRevenue': 168087994368, 'totalCashPerShare': 17.333, 'financialCurrency': 'USD', 'revenuePerShare': 22.272, 'quickRatio': 1.898, 'recommendationMean': 1.7, 'exchange': 'NMS', 'shortName': 'Microsoft Corporation', 'longName': 'Microsoft Corporation', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'MSFT', 'messageBoardId': 'finmb_21835', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 12.869, 'beta3Year': None, 'enterpriseToEbitda': 26.766, '52WeekChange': 0.32024586, 'morningStarRiskRating': None, 'forwardEps': 10.11, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 7514890240, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 18.884, 'sharesShort': 44204519, 'sharesPercentSharesOut': 0.0058999998, 'fundFamily': None, 'lastFiscalYearEnd': 1625011200, 'heldPercentInstitutions': 0.71722, 'netIncomeToCommon': 61270999040, 'trailingEps': 8.05, 'lastDividendValue': None, 'SandP52WeekChange': 0.24182141, 'priceToBook': 15.574559, 'heldPercentInsiders': 0.00079, 'nextFiscalYearEnd': 1688083200, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 2.05, 'sharesShortPreviousMonthDate': 1628812800, 'floatShares': 7506925463, 'beta': 0.802645, 'enterpriseValue': 2163128401920, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': None, 'lastSplitFactor': None, 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.469, 'priceToSalesTrailing12Months': 13.1768055, 'dateShortInterest': 1631664000, 'pegRatio': 2.25, 'ytdReturn': None, 'forwardPE': 29.090998, 'lastCapGain': None, 'shortPercentOfFloat': 0.0058999998, 'sharesShortPriorMonth': 41985444, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 294.23, 'regularMarketOpen': 295.34, 'twoHundredDayAverage': 272.54825, 'trailingAnnualDividendYield': 0.0076130917, 'payoutRatio': 0.272, 'volume24Hr': None, 'regularMarketDayHigh': 295.44, 'navPrice': None, 'averageDailyVolume10Day': 23623850, 'regularMarketPreviousClose': 294.23, 'fiftyDayAverage': 296.74084, 'trailingAnnualDividendRate': 2.24, 'open': 295.34, 'toCurrency': None, 'averageVolume10days': 23623850, 'expireDate': None, 'algorithm': None, 'dividendRate': 2.48, 'exDividendDate': 1637107200, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 292.7, 'currency': 'USD', 'trailingPE': 36.5354, 'regularMarketVolume': 8295770, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2214862782464, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 22955352, 'dayLow': 292.7, 'ask': 294.44, 'askSize': 900, 'volume': 8295770, 'fiftyTwoWeekHigh': 305.84, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.48, 'fiftyTwoWeekLow': 199.62, 'bid': 294.42, 'tradeable': False, 'dividendYield': 0.0084, 'bidSize': 1000, 'dayHigh': 295.44, 'regularMarketPrice': 294.11, 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

                 Open       High        Low  ...    Volume  Dividends  Stock Splits
Date                                         ...
2018-01-02  82.019692  82.191102  81.419760  ...  22483800        0.0             0
2018-01-03  81.953026  82.381555  81.867324  ...  26061400        0.0             0
2018-01-04  82.457730  83.476675  82.438688  ...  21912000        0.0             0
2018-01-05  83.476693  84.190902  83.257666  ...  23407100        0.0             0
2018-01-08  83.990909  84.352779  83.419544  ...  22113000        0.0             0
...               ...        ...        ...  ...       ...        ...           ...
2018-12-24  94.628771  94.909713  91.044351  ...  43935200        0.0             0
2018-12-26  92.168121  97.544760  91.024981  ...  51634800        0.0             0
2018-12-27  96.198175  98.029137  93.388761  ...  49498500        0.0             0
2018-12-28  98.901022  99.211033  96.411301  ...  38196300        0.0             0
2018-12-31  98.126010  99.201338  97.302563  ...  33173800        0.0             0

[251 rows x 7 columns]

*   Free Stock Data for Python Using Yahoo Finance API [towardsdatascience](https://towardsdatascience.com/free-stock-data-for-python-using-yahoo-finance-api-9dafd96cad2e)
*   Using yfinance (formerly fix_yahoo_finance) to Download Data [alphabench](https://alphabench.com/data/python-fix-yahoo-finance-tutorial.html)
* Easiest Guide to Getting Stock Data With Python [towardsdatascience](https://towardsdatascience.com/easiest-guide-to-getting-stock-data-with-python-f74b5f75d179)

In [ ]:
# Comand del removes a variables  in iPython 'del variable1,variable2'

del data
data

NameError: ignored

## 2. Download the data from Yahoo Finance in a CSV (Coma Sperated Values .csv )file, upload the file in GutHub and read the data using the *read_csv* function form *pandas*

> - Download the data from Yahoo Finance in a CSV file
>> 1. Open [finance.yahoo.com](https://finance.yahoo.com/)
>> 2. Search for the company in thisd case MSFT or Microsoft
>> 3. Go to ** Historical Data ** and set Time Period:Mar 04,2020-Mar 04,2021, Show:Historical Prices, Frequency:Daily
>> ![alt text](https://raw.githubusercontent.com/gjhernandezp/algorithms/master/Python/YahooFinanceData.png)

>>4. Download the file data *MSFT.csv*
>-  Upload  the file *MSFT.csv*  in  a *github repository*  
>-  Read the data using the *read_csv* function form *pandas*
>>> ```python
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/gjhernandezp/algorithms/master/Python/MSFT.csv')
```

In [ ]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/gjhernandezp/algorithms/master/Python/MSFT.csv')
data

           Date        Open        High  ...       Close   Adj Close    Volume
0    2020-03-04  168.490005  170.699997  ...  170.550003  168.834290  49814400
1    2020-03-05  166.050003  170.869995  ...  166.270004  164.597351  47817300
2    2020-03-06  162.610001  163.110001  ...  161.570007  159.944641  72821100
3    2020-03-09  151.000000  157.750000  ...  150.619995  149.104797  70419300
4    2020-03-10  158.160004  161.029999  ...  160.919998  159.301178  65354400
..          ...         ...         ...  ...         ...         ...       ...
248  2021-02-26  231.529999  235.369995  ...  232.380005  232.380005  37811200
249  2021-03-01  235.899994  237.470001  ...  236.940002  236.940002  25324000
250  2021-03-02  237.009995  237.300003  ...  233.869995  233.869995  22785500
251  2021-03-03  232.160004  233.580002  ...  227.559998  227.559998  33950400
252  2021-03-04  226.735001  232.490005  ...  226.100006  226.100006  30092265

[253 rows x 7 columns]

In [ ]:
del data

## 3. Download the data from Yahoo Finance in a CSV (Coma Sperated Values .csv )file and read the data using the *read_csv* function form *pandas*
> - Download the data from Yahoo Finance in a CSV file
>> Smae steps that in the previous alternative
>-  Upload  the file *MSFT.csv*  in *\content* in the virtual machine provided by Google Colab 

>>>  ![alt text](https://raw.githubusercontent.com/gjhernandezp/algorithms/master/Python/read_csv.png)

>-  Read the data using the *read_csv* function form *pandas*
>>> ```python
import pandas as pd
data = pd.read_csv('MSFTcsv')
```

The inconvenient with this alternative is that when the machine expires the file is deleted

In [ ]:
import pandas as pd
data = pd.read_csv('MSFT.csv')
data

           Date        Open        High  ...       Close   Adj Close    Volume
0    2020-03-04  168.490005  170.699997  ...  170.550003  168.834290  49814400
1    2020-03-05  166.050003  170.869995  ...  166.270004  164.597351  47817300
2    2020-03-06  162.610001  163.110001  ...  161.570007  159.944641  72821100
3    2020-03-09  151.000000  157.750000  ...  150.619995  149.104797  70419300
4    2020-03-10  158.160004  161.029999  ...  160.919998  159.301178  65354400
..          ...         ...         ...  ...         ...         ...       ...
248  2021-02-26  231.529999  235.369995  ...  232.380005  232.380005  37811200
249  2021-03-01  235.899994  237.470001  ...  236.940002  236.940002  25324000
250  2021-03-02  237.009995  237.300003  ...  233.869995  233.869995  22785500
251  2021-03-03  232.160004  233.580002  ...  227.559998  227.559998  33950400
252  2021-03-04  226.735001  232.490005  ...  226.100006  226.100006  30092265

[253 rows x 7 columns]

In [ ]:
del data

## 4. Download the data from Yahoo Finance in a CSV (Coma Sperated Values .csv ) and upload the in data Google Drive

- Google Colab: how to read data from my google drive? [stackoverflow](https://stackoverflow.com/questions/48376580/google-colab-how-to-read-data-from-my-google-drive)

-  How to unmount drive in Google Colab and remount to another drive?[stackoverflow](https://stackoverflow.com/questions/54837135/how-to-unmount-drive-in-google-colab-and-remount-to-another-drive)

### Mount the drive with the Google Colab vortual machine file system interface

![alt text](https://raw.githubusercontent.com/gjhernandezp/algorithms/master/Python/mount_drive.png)

In [ ]:
import pandas as pd
data = pd.read_csv('/content/drive//MyDrive/ALG//2021I/Python/MSFT.csv')
data

           Date        Open        High  ...       Close   Adj Close    Volume
0    2020-03-04  168.490005  170.699997  ...  170.550003  168.834290  49814400
1    2020-03-05  166.050003  170.869995  ...  166.270004  164.597351  47817300
2    2020-03-06  162.610001  163.110001  ...  161.570007  159.944641  72821100
3    2020-03-09  151.000000  157.750000  ...  150.619995  149.104797  70419300
4    2020-03-10  158.160004  161.029999  ...  160.919998  159.301178  65354400
..          ...         ...         ...  ...         ...         ...       ...
248  2021-02-26  231.529999  235.369995  ...  232.380005  232.380005  37811200
249  2021-03-01  235.899994  237.470001  ...  236.940002  236.940002  25324000
250  2021-03-02  237.009995  237.300003  ...  233.869995  233.869995  22785500
251  2021-03-03  232.160004  233.580002  ...  227.559998  227.559998  33950400
252  2021-03-04  226.735001  232.490005  ...  226.100006  226.100006  30092265

[253 rows x 7 columns]

In [ ]:
del data

### Mount the drive with code
```python
from google.colab import drive
drive.mount('/content/drive')
```

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
data = pd.read_csv('/content/drive//MyDrive/ALG//2021I/Python/MSFT.csv')
data

           Date        Open        High  ...       Close   Adj Close    Volume
0    2020-03-04  168.490005  170.699997  ...  170.550003  168.834290  49814400
1    2020-03-05  166.050003  170.869995  ...  166.270004  164.597351  47817300
2    2020-03-06  162.610001  163.110001  ...  161.570007  159.944641  72821100
3    2020-03-09  151.000000  157.750000  ...  150.619995  149.104797  70419300
4    2020-03-10  158.160004  161.029999  ...  160.919998  159.301178  65354400
..          ...         ...         ...  ...         ...         ...       ...
248  2021-02-26  231.529999  235.369995  ...  232.380005  232.380005  37811200
249  2021-03-01  235.899994  237.470001  ...  236.940002  236.940002  25324000
250  2021-03-02  237.009995  237.300003  ...  233.869995  233.869995  22785500
251  2021-03-03  232.160004  233.580002  ...  227.559998  227.559998  33950400
252  2021-03-04  226.735001  232.490005  ...  226.100006  226.100006  30092265

[253 rows x 7 columns]

In [ ]:
drive.flush_and_unmount()